<h2 mat-dialog-title>
  {{data.title}}
</h2>
<mat-dialog-content>
  <form [formGroup]="nameDescriptionFormGroup">
    <mat-form-field class="full-width">
      <mat-label>Nom</mat-label>
      <input matInput name="name" placeholder="Nom" formControlName="name" required>
      <mat-error *ngIf="nameDescriptionFormGroup.get('name').hasError('required')">Le nom est obligatoire</mat-error>
      <mat-error *ngIf="nameDescriptionFormGroup.get('name').hasError('forbiddenValue')">Ce nom existe déjà</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary">
    <span translate>Annuler</span>
  </button>
  <button type="submit" mat-button color="primary" (click)="save()" [disabled]="nameDescriptionFormGroup.invalid">
    <span translate>Sauvegarder</span>
  </button>
</mat-dialog-actions>
