.name-column {
  width: 20%;
}

.actions-column {
  width: 10%;
}
.kind-column {
  width: 20%;
}
.serie-column {
  width: 20%;
}
.creator-column {
  width: 30%;
}

.field-filter {
  width: 20%;
  margin-right: 52px;
}

.margin-left {
  margin-left: 20px;
}
