<h2>Mes bandes dessinées</h2>

<mat-form-field id="filter" class="field-filter">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Titre">
</mat-form-field>

<mat-form-field class="field-filter">
  <mat-select placeholder="Genre">
    <mat-option *ngFor="let element of filtersComponents.genres" [value]="element.id">{{ element.name }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="field-filter">
  <mat-select placeholder="Série">
    <mat-option *ngFor="let element of filtersComponents.series" [value]="element.id">{{ element.name }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="field-filter margin-left">
  <mat-select placeholder="Auteur">
    <mat-option *ngFor="let element of filtersComponents.auteurs" [value]="element.id">{{ element.name }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="field-filter">
  <mat-select placeholder="Scénariste">
    <mat-option *ngFor="let element of filtersComponents.scenaristes" [value]="element.id">{{ element.name }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="field-filter">
  <mat-select placeholder="Dessinateur">
    <mat-option *ngFor="let element of filtersComponents.dessinateurs" [value]="element.id">{{ element.name }}</mat-option>
  </mat-select>
</mat-form-field>

<div class="mat-elevation-z8" id="crud-table">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell  mat-sort-header
          *matHeaderCellDef class="name-column"> Titre </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="genre">
      <th mat-header-cell mat-sort-header
          *matHeaderCellDef class="kind-column"> Genre </th>
      <td mat-cell *matCellDef="let row"> {{row.genre}} </td>
    </ng-container>

    <ng-container matColumnDef="serie">
      <th mat-header-cell mat-sort-header
          *matHeaderCellDef class="serie-column"> Série </th>
      <td mat-cell *matCellDef="let row"> {{row.serie}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="actions-column">
        <button mat-mini-fab>
          <mat-icon aria-label="Add" (click)="addElement()">add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button>
          <mat-icon aria-label="Edit" color="primary" (click)="editElement(row)">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon aria-label="Delete" color="warn" (click)="deleteElement(row)">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="editable"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
