<h2>Statistiques</h2>
<button class="export-button" mat-stroked-button color="accent" (click)="exportDataToCsv()">
  EXPORT EXCEL
</button>
<div class="accordion">
  <mat-accordion class="stats-accordion">
    <mat-expansion-panel *ngFor="let stats of detailsStats;" [disabled]="stats.disabled" (opened)="fillCurrentStats(stats)">
      <mat-expansion-panel-header>
        <span class="title-badge" [matBadge]="stats.totalStats" matBadgePosition="above before">{{ stats.title}}</span>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="div-stats" *ngFor="let stat of stats.stats">
          <span class="title-badge" [matBadge]="stat.nombre" matBadgePosition="above before">{{ stat.nom | titlecase}}</span>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
