<h2>Statistiques</h2>
<mat-accordion class="stats-accordion">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <span class="title-badge" [matBadge]="nbBandesDessinees" matBadgePosition="above before">Bandes dessinées</span>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span class="title-badge" [matBadge]="nbGenres" matBadgePosition="above before">Genres</span>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span class="title-badge" [matBadge]="nbSeries" matBadgePosition="above before">Séries</span>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span class="title-badge" [matBadge]="nbCreateurs" matBadgePosition="above before">Créateurs</span>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span class="title-badge" [matBadge]="nbScenaristes" matBadgePosition="above before">Scénaristes</span>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span class="title-badge" [matBadge]="nbDessinateurs" matBadgePosition="above before">Dessinateurs</span>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span class="title-badge" [matBadge]="nbMaisonsEditions" matBadgePosition="above before">Maison d'éditions</span>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span class="title-badge" [matBadge]="nbPremieresEditions" matBadgePosition="above before">Premières éditions</span>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span class="title-badge" [matBadge]="nbReditions" matBadgePosition="above before">Réeditions</span>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
